<% include ./header.ejs %>

<div class="panel panel-default">
        <div class="panel-heading">Área admnistrativa de gestão dos EPIS
            
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             Logado como: <%= sess.email %> <a href="/logout">Sair</a>
            
        </div>


<div class="page-data">
    <div class="data-btn">
        <button onClick="addEpi();">+ Cadastrar E.P.I</button>
    </div>
    <br>
    <br>
    
    <div class="data-table">
        <table>
            <tr>
                <th width="50px"> Id</th>
                <th width="20px">Foto do E.P.I</th>
                <th width="30px">Tipo do E.P.I</th>
                <th>C.A</th>
                <th width="20px">Vncimento do C.A</th>
                <th width="30px">fabricante do  E.P.I</th>
                <th width="20px">Descrição</th>
                <th width="200px">Ação</th>
            </tr>

            <% if(cad_epi.length){

            for(var i = 0;i < cad_epi.length;i++) { %>

            <tr>
                <td><%=cad_epi[i].id%></td>
                <td><img src="/images/<%= cad_epi[i].foto %>" class="foto-mini" /></td>
                <td><%=cad_epi[i].tipo_epi%></td>
                <td><%=cad_epi[i].ca%></td>
                <td><%=cad_epi[i].venc_ca%></td>
                <td><%=cad_epi[i].fabri_epi%></td>
                <td><%=cad_epi[i].descricao%></td>
               <td>
                    <div class="page-data">
                            <div class="data-btn">
                    <a class="a-inside edit" href="/admin/cad_epi/editar/<%=cad_epi[i].id%>">Editar</a>
                    <a class="a-inside delete" href="/admin/cad_epi/excluir/<%=cad_epi[i].id%>">Excluir</a>
                </td>
                

            </tr>
            <% }
            }else{ %>
            <tr>
                <td colspan="7">Nenhum EPI cadastrado</td>
            </tr>
            <% } %>
        </table>


</div>
</div>

</div>



<% include ./footer.ejs %>